html {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	min-width: 230px;
	background-color: #e5ebdd;

}

body {
	margin: 0;
}

.banner {
	display: none;
}

img {
	width: 100%;
}

.logo {
	margin: 2%;
}

.banner-logo {
	display: none;
}

header {
	margin: 8px;
	display: inline-block;
}

h1 {
	font-size: 3em;
	color: #34A72F;
	margin: 0 0;
	padding-top: 2%;
	text-align: center;
}

h2 {
	font-size: 2.3em;
	color: #8dce50;
	text-align: center;
	margin: 0 0;
}

p {
	margin: 8px;
	text-align: center;
}

hr.hline_color {
	background:#4CD95A;
	height:4px;
}

.description {
	color: #167824;
}

.video {
	padding-top: 8px;
}

.button {
	padding-top: 3%;
	padding-bottom: 5%;
}

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background-color:#3ead48;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
	
	margin: 8px;
}.btn:hover {
	background-color:#8cb82b;
}.btn:active {
	position:relative;
	top:1px;
}

.carousel {
	position: relative;
	padding-bottom: 52.6%; /*height divided by width of image will be percentage of padding.*/
}

.carousel img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.carousel-buttons {
	position: absolute;
	z-index: 1000;
	margin-top: 45%;
	
	color: #10B732;

}


.carousel [data-state="current"] {
	z-index: 100;
}

.carousel [data-state="incoming"] {
	z-index: 101;
}


hr.hline_color2 {
	background:#4CD95A;
	height:2px;
}

footer {
	padding-top: 1%;
	margin: 8px;
	
	font-size: 0.80em;
	color: #167824;	
}

@media only screen and (min-width: 33.75em) {

	html {
	min-width: 540px;

	}
	
	.banner {
		display: block;
	}

	.logo {
	margin: 2%;
	width: 30%;
	}
	
	header {
		position: relative;
		bottom: -80%;
	}

	h1 {
	font-size: 3em;
	text-align: right;
	position: relative;
	margin-top: -20%;
	}	

	h2 {
	font-size: 2.3em;
	color: #8dce50;
	text-align: right;
	margin: 0 0;
	}
	
}

@media only screen and (min-width: 50em) {
	
	h1 {
	font-size: 3em;
	text-align: right;
	position: relative;
	margin-top: -15%;
	}
	
}

@media only screen and (min-width: 62.5em) {
	
	.logo {
		display: none;
	}
	
	.banner-logo {
		display: block;
		width: 10%;
	}
}