html {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	min-width: 230px;
	background-color: #e5ebdd;

}

body {
	margin: 0;
}

.banner {
	display: none;
}

img {
	width: 100%;
}

.logo {
	margin: 2%;
	display: block;
}

.banner-logo {
	display: none;
}

header {
	margin: 8px;
	display: inline-block;
}

h1 {
	font-size: 3em;
	color: #34A72F;
	margin: 0 0;
	padding-top: 2%;
	text-align: center;
}

h2 {
	font-size: 2em;
	color: #8dce50;
	text-align: center;
	margin: 0 0;
}

h3 {
	display: none;
}


h4 {
	display: none;
}

p {
	margin: 8px;
	text-align: center;
}

hr.hline_color {
	background:#4CD95A;
	height:4px;
}

.description {
	color: #167824;
}

.video {
	padding-top: 8px;
}

.dialogclass {
	width: 230px;
	height: 300px;
}

iframe {
	width: 100%;
}

dialog {
	border-radius: 6px;
	border: 1px solid #333;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	padding: 1em;
}

dialog::backdrop {
	background-color: #e5ebdd;
}


.btn-close {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	border: 2px solid #fff;
	background-color: #4BB242;
	color: #fff;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	font-weight: bold;
	line-height: 0.6;
	font-size: 1rem;
	cursor: pointer;
	position: absolute;
	top: -16px;
	right: -10px;
}

.button {
	padding-top: 1%;
	padding-bottom: 1%;
}

.button2 {
	display: none;
}

.button3 {
	display: none;
}

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background-color:#3ead48;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
	
	margin: 8px;
}.btn:hover {
	background-color:#8cb82b;
}.btn:active {
	position:relative;
	top:1px;
}

.carousel {
	position: relative;
	padding-bottom: 52.6%; /*height divided by width of image will be percentage of padding.*/
}

.carousel img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.carousel-buttons {
	position: absolute;
	z-index: 1000;
	margin-top: 45%;
	width: 100%;
	
	color: #10B732;
	
	margin-top: 22%;
	

}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.next {
   background: #3ead48;
   
   color: #fff;
   font-size: 10px;
   
   padding: 3px 8px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   
   float: right;

}

.next:hover {
	background-color:#8cb82b;
}

.previous {
   background: #3ead48;
   
   color: #fff;
   font-size: 10px;
   
   padding: 3px 8px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   
}

.previous:hover {
	background-color:#8cb82b;
}


.carousel [data-state="current"] {
	z-index: 100;
}

.carousel [data-state="incoming"] {
	z-index: 101;
}


hr.hline_color2 {
	background:#4CD95A;
	height:2px;
}

footer {
	padding-top: 1%;
	margin: 8px;
	
	font-size: 0.80em;
	color: #167824;	
}

.sun {
	width: 300px;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 12%;
}

.cloud1 {
	display: none;
}

.cloud2 {
	display: none;
}


.dipper {
	width: 370px;
	margin-left: 6%;
	opacity: 0;
}

.js-dipper-animate {
	-webkit-animation: dipper-fade 1s linear 1 forwards;
	/* How to apply styles before and after animating. 
	'forwards' - retains the last computed animation values.
	animation-fill-mode: forwards; */
}

@-webkit-keyframes dipper-fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1; 
	}
}


@media only screen and (min-width: 33.75em) {

	html {
	min-width: 540px;

	}
	
	.banner {
		display: block;
	}

	.logo {
	margin: 2%;
	width: 30%;
	}
	
	header {
		position: relative;
		bottom: -80%;
	}

.dialogclass {
	width: 533px;
	height: 300px;
}

iframe {
	width: 100%;
}

	h1 {
	font-size: 2.6em;
	text-align: right;
	position: relative;
	margin-top: -20%;
	}	

	h2 {
	font-size: 2.3em;
	color: #8dce50;
	text-align: right;
	margin: 0 0;
	}
	
	hr.hline_color {
		background:#4CD95A;
		height:4px;
		margin-top: 5%;
}
	
	h3 {
		display: none;
	}
	
	
	h4 {
		display: none;
	}
	
	.carousel-buttons {
		position: absolute;
		z-index: 1000;
		margin-top: -49;
	}
	
	.next {
		font-size: 13px;
	}
	
	.previous {
		font-size: 13px;
	}
	
	.sun {
	width: 340px;
	margin-left: 25%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.dipper {
	width: 550px;
	opacity: 0;
	margin-left:  6%;
}

	
}


@media only screen and (min-width: 48.1875em) {
	
	.logo {
		padding-top: 0.5%;
	}
	
	h1 {
		font-size: 3em;
		text-align: right;
		position: relative;
		margin-top: -15%;
	}
	
	h4 {
		display: block;
		font-size: 3em;
		font-weight: lighter;
		
		margin-left: 2%;
		margin-top: -8%;
		
	}
	
	p {
		text-align: left;
		font-size: 1.40em;
		padding-bottom: 1%;
		
		margin-left: 2%;
		margin-top: -3	%;
		
	}
	
	h3 {
		display: none;
	}
	
	h4 {
		display: none;
	}
	
	.sun {
	width: 340px;
	margin-left: 25%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.dipper {
	width: 550px;
	opacity: 0;
	margin-left:  20%;
}

}

@media only screen and (min-width: 48.3125em) {
	
	.logo {
		padding-top: 0.5%;
	}
	
	h1 {
	font-size: 3em;
	text-align: right;
	position: relative;
	margin-top: -15%;
	}
	
	h3 {
		display: block;
		
		text-align: right;
		color: black;
		font-size: 1.6em;
		font-weight: 500;
		
		margin-top: -7%;
		margin-right: 2%;
		
	}
	
	h4 {
		display: none;
	}
	
	.next {
		font-size: 15px;
	}
	
	.previous {
		font-size: 15px;
	}
	
	.sun {
	width: 350px;
	margin-left: 25%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.dipper {
	width: 560px;
	opacity: 0;
	margin-left:  13%;
}
	
}


@media only screen and (min-width: 48.875em) {
	
	.logo {
		
	}
	
	h1 {
	font-size: 3em;
	text-align: right;
	position: relative;
	margin-top: -15%;
	}
	
	h3 {
		margin-top: -7%;
		margin-right: 2%;
		font-size: 2em;
		color: #12A520;
		
	}
		h4 {
		display: none;
	}
	
	.carousel-buttons {
		position: absolute;
		z-index: 1000;
	}
	
	.next {
		font-size: 18px;
	}
	
	.previous {
		font-size: 18px;
	}
	

	
}

@media only screen and (min-width: 50em) {
	
	h1 {
	font-size: 3em;
	text-align: right;
	position: relative;
	margin-top: -15%;
	}
	
	h4 {
		display: none;
	}
	
	.dialogclass {
	width: 950px;
	height: 600px;
}

iframe {
	width: 100%;

}

.sun {
	width: 400px;
	margin-left: 27%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.dipper {
	width: 760px;
	opacity: 0;
	margin-left:  8%;
}

}

@media only screen and (min-width: 62.5em) {
	
	.logo {
		display: none;
	}
	
	.banner-logo {
		display: block;
		width: 20%;
		margin-top: -24%;
		margin-left: 2%;
	}
	
	h1 {
		display: none;
	}
	
	h2 {
		display: none;
	}
	
	
	hr.hline_color {
		display: none;
	}
	
	p {
		text-align: left;
		margin-right: 30%;
		font-size: 1.19em;
		margin-top: -5%;
	}
	
	.button {
		display: none;
	}
	
	.button2 {
		display: block;
		margin-left: 87%;
		margin-top: -167%;
		padding-bottom: 65%;
	}
	
		.carousel-buttons {
		position: absolute;
		z-index: 1000;
	
	}
	
	.next {
		font-size: 24px;
	}
	
	.previous {
		font-size: 24px;
	}
	
	h3 {
		display: block;
		margin: 0 0;
		margin-top: 100%;
		padding-bottom: 2%;
		margin-left: 3%;
		
		text-align: left;
		color: black;
		font-size: 3em;
	}
	
	h4 {
		display: block;
		margin-bottom: 6%;
		margin-top: 0%;
	}
	
.sun {
	margin-top: -25%;
}

.dipper {
	width: 900px;
	margin-left: 6%;
	margin-top: 5%;
}

	
.cloud1 {
	display: block;
	width: 30%;
	margin-left: 5%;
}

.cloud2 {
	display: block;
	width: 30%;
	float: right;
	margin-right: 3%;
	margin-top: -5%;
}

}

@media only screen and (min-width: 69.5em) {
	
	h1 {
		display: none;
	}

	h2 {
		display: none;
	}
	
		.banner-logo {
		display: block;
		width: 20%;
		margin-top: -23%;
		margin-left: 2%;
	}
	
		hr.hline_color {
		display: none;
	}
	
.sun {
	margin-top: -25%;
}

.cloud2 {
	margin-top: -10%;
}

.dipper {
	width: 930px;
	margin-left: 9%;
	margin-top: 5%;
}

}

@media only screen and (min-width: 76.5em) {
	
	h1 {
		display: none;
	}
	
	h2 {
		display: none;
	}
	
	
	h4 {
		display: block;
		font-size: 3.3em;
		font-weight: lighter;
		
		margin-top: -1%;
		margin-left: 15%;;
		margin-right: 20%;
	}
	
		p {
		text-align: left;
		margin-left: 15%;
		font-size: 1.19em;
		margin-top: -5%;
	}
	
	.button {
		display: none;
	}
	
	.button2 {
		display: block;
		
		margin-top: -112%;
		margin-left: 76%;
	}
	
	h3 {
		margin-left: 15%;	
		margin-top: 45%;
	}
	

	
	.video {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		
	}
	
		.carousel {
		margin-right: 15%;
		margin-left: 15%;
	}
	
		.carousel-buttons {
		position: absolute;
		z-index: 1000;	
	}
		
		hr.hline_color2 {
		background:#4CD95A;
		height:2px;
		
		margin-top: -10%;
	}

	footer {
		padding-top: 1%;
		margin-right: 20%;
		margin-left: 15%;
		
	
		font-size: 0.80em;
		color: #167824;	
}

	.sun {
		width: 450px;
		margin-top: -25%;
	
}

	.cloud2 {
		margin-top: -12%;
}


	.dipper {
		width: 1070px;
		opacity: 0;
		margin-left:  7%;
}

	.cloud2 {
		margin-top: -12%;
}


@media only screen and (min-width: 81.25em) {
	
	h1 {
		display: none;
	}
	
	h2 {
		display: none;
	}
	
	h4 {
		display: block;
		font-size: 3.7em;
		font-weight: lighter;
		
		margin-top: -1%;
		margin-left: 15%;;
		margin-right: 20%;
	}
	
	p {
		text-align: left;
		margin-left: 15%;
		font-size: 1.19em;
		margin-top: -5%;
	}
	
	.sun {
		width: 400px;
		margin-top: -25%;
	
}

	.cloud2 {
		margin-top: -12%;
}


	.dipper {
		width: 1180px;
		opacity: 0;
		margin-left:  12%;
}

	.cloud2 {
		margin-top: -16%;
		width: 22%;
}
	
}

@media only screen and (min-width: 84.6875em) {
	
	h1 {
		display: none;
	}
	
	.sun {
	width: 500px;
	
}
	
	
}

@media only screen and (min-width: 104.3125em) {
	
	.logo {
		display: none;
	}
	
	.banner-logo {
		display: block;
		width: 20%;
		margin-top: -23%;
		margin-left: 2%;
		padding-bottom: 11%;
	}
	
	h1 {
		color: white;
	}
	
	h2 {
		color: white;
	}
	
	
	hr.hline_color {
		display: none;
	}
	
	p {
		text-align: left;
		font-size: 1.40em;
		padding-bottom: 1%;
		
		margin-top: -4%;
		margin-right: 20%;
		margin-left: 15%;
	}
	
	.video {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		
	}
	
	.button {
		display: none;
	}
	
	.button2 {
		display: none;
	}
	
	.button3 {
		display: block;
		
		margin-left: 15%;
		position: relative;
		top: 30px;
	}
	
	.btn {
		width: 200px;
		height: 60px;
		
		font-size: 25px;
		text-align: center;
		
	}
	
	h1 {
		display: none;
	}
	
	h2 {
		display: none;
	}

	h3 {
		display: block;
		
		padding-top: 17%;
		padding-bottom: 2%;
		
		text-align: right;
		color: black;
		font-size: 3.5em;
		font-weight: 500;
		
		margin-left: 10%;;
		margin-right: 15%;
		margin-top: -20%;
		
	}
	
	h4 {
		display: block;
		font-size: 4em;
		font-weight: lighter;
		
		margin-top: -7%;
		margin-left: 15%;;
		margin-right: 20%;
	}
	
	.carousel {
		margin-right: 15%;
		margin-left: 15%;
	}
	
	.carousel-buttons {
		position: absolute;
		z-index: 1000;
	}
	
	.next {
		font-size: 26px;
	}
	
	.previous {
		font-size: 26px;
	}
	
	hr.hline_color2 {
		background:#4CD95A;
		height:2px;
		
		margin-top: -10%;
	}

	footer {
		padding-top: 1%;
		margin-right: 20%;
		margin-left: 15%;
		
	
		font-size: 0.80em;
		color: #167824;	
}

.dipper {
	width: 1300px;
	margin-right: 10%;
}

.cloud1 {
	margin-left: 10%;
	
}

.cloud2 {
	margin-right: 8%;
}

	
}













